extends ../layout

block content
    br
    h2 #{article.title}
    h6 Written by #{article.author}
    br
    h4 #{article.body}
    hr
    a.btn.btn-primary.mr-2(href="/articles/" + article._id + "/edit") Edit
    a.btn.btn-primary.delete-article(href="#", article-id=article._id) Delete