extends ../layout

block content
    br
    h1 Add a new article
    form(action="/articles/" + article._id + "/edit/update", method="post")
        .form-group
            label Title:
            input.form-control(type="text", name="title", value=article.title)
        .form-group
            label Author:
            input.form-control(type="text", name="author", value=article.author)
        .form-group
            label Body:
            textarea.form-control(name="body")=article.body
        br
        input.btn.btn-primary(type="submit", value="Submit")