<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>表单上传</title>
</head>

<body>
    <h1>
        <!-- 获取从后端传递的数据 -->
        <%= data.name %>的业余爱好：
    </h1>
    <!-- 循环出对象的值 -->
    <ul>
        <% data.Hobbies.forEach(function(item){ %>
            <li>
                <%= item %>
            </li>
            <%  }) %>
    </ul>
</body>

</html>